.gridster * {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
}


/*/
/* demo
/*/


body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #444;
    margin: 30px 40px;
/*    background-image: url("../background-image-7.png");
*/
    background-color: #28324e
}

.controls {
    margin-bottom: 20px;
}

/*/
/* gridster
/*/

.gridster ul {
    background-color: #e74c3c;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}


.gridster {
    margin: 0 auto;

    opacity: 1;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #c0392b;
    cursor: pointer;
}

.gridster .player {
    background: #e74c3c;
}


.gridster .preview-holder {
    border: none!important;
    background: blue!important;
}

.gridster div {
    overflow: hidden;
    color: white;
    padding: 1em;
}

.gridster div h1{
    text-align: center;
/*    color: blue;
*/}

.gridster div h4{
    text-align: center;
    color: #bdc3c7;
/*    color: blue;
*/}

.gridster div p{
text-align:center;
display:block;  }

